a:visited, a:link {
        text-decoration: none;
    }

#center{
    text-align: center;
}
.tab{
    margin-left: 100px;
}
.multi_tab{
    margin-left: 250px;
}
#message{
    font-size: 35px;
}
#message2{
    font-size: 20px;
}
#info{
    font-size: 18px
}
#title{
    font-size: 50px;
    word-break:break-word;
}
tr, td{
    word-wrap:break-word;
    max-width: 900px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.image {
    border: 0;
}
.image img {
display: block;
}

#tags {
    text-align: center;
}

.tab25px {
    margin-left: 25px;
}

#question_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#question_table td, #question_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#question_table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

#question_table tr:nth-child(even) {
    background-color: #eee9e9;
}

#question_table tr:hover {
    background-color: #a7b4e2;
}

#question_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #a0b2ea;
  color: rgba(0, 0, 0, 0.8);
}