<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>ASK MATE by Marcin, Marcin, Basia & Tomek</title>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
</head>
    <body>
        <button id="menu-icon">Menu</button>
        <div class="menu"></div>
        <a href="/"><img src="/static/logo-small.png" alt="ask mate logo"></a><br><br>
        <form action="/list" style="display: inline-block">
            <label for="sort_by">Sort by:</label>
            <select name="sort_by" id="sort_by">
              <option value="title" {% if sort == "title" %} selected {% endif %}>Title</option>
              <option value="submission_time" {% if sort == "submission_time" %} selected {% endif %}>Submission time</option>
              <option value="view_number" {% if sort == "view_number" %} selected {% endif %}>View number</option>
              <option value="vote_number" {% if sort == "vote_number" %} selected {% endif %}>Vote number</option>
            </select>
            <label for="order_by">Order by:</label>
            <select name="order_by" id="order_by">
              <option value="ASC" {% if order == "ASC" %} selected {% endif %}>Ascending</option>
              <option value="DESC" {% if order == "DESC" %} selected {% endif %}>Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form><br><br>
        <div>
            <form action="/search">
                <label for="search-question-input">Search question:</label>
                <input id="search-question-input" type="search" name="q" width="100px" required>
                <button type="submit">Search</button>
            </form>
        </div><br>
        <table id="question_table">
            <tr>
                <th><b>Title</b></th>
                <th><b>Submission time</b></th>
                <th><b>View number</b></th>
                <th><b>Vote number</b></th>
            </tr>
            {% for question in questions %}
            <tr>
                <td><a href="/question/{{question.id}}">{{question.title}}</a></td>
                <td>{{question.submission_time}}</td>
                <td>{{question.view_number}}</td>
                <td>{{question.vote_number}}</td>
            </tr>
            {% endfor %}
        </table><br>
        <div>
            <form action="/list" style="display: inline-block">
                <button type="submit">All questions</button>
            </form>
            <span class="tab"></span>
            <form action="/tags" style="display: inline-block">
                <button type="submit">Tags list</button>
            </form>
        </div>
        <footer>
            <br>
            <p>© 2022 Marcin, Marcin & Tomek</p>
        </footer>
    <script>
        let message = "{{ message }}";
        let reputation = 0;
        let user_id = "{{ session['id'] }}";

        if ("{{ reputation }}") {
            reputation = {{ reputation }} + 0;
        }
    </script>
    <script src="/static/js/menu.js"></script>
    </body>
</html>