<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <div>
        <form action="/registration" method="post">
            <label>User name:
                <input id="user" name="user-name" type="text" maxlength="20" required>
            </label>
            <br><br>
            <label>Password:
                <input name="password" type="password" minlength="6" required>
            </label>
            <br><br>
            <label>Confirm password:
                <input name="confirm-password" type="password" required>
            </label>
            <br><br>
            <button type="submit">Register</button>
        </form>
    </div>
    <br><br>
    <form action="/">
        <button type="submit">Back to main page</button>
    </form>
<script>
    if ("{{ message }}") {
        alert("{{ message }}");
    }
</script>
</body>
</html>