<!DOCTYPE html>
<html lang="en">
<style>
        body{
             text-align: center;
        }
</style>
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <title>ASK MATE by Marcin, Marcin, Basia & Tomek</title>
</head>
    <body>
        <a href="/"><img src="/static/logo-small.png" alt="ask mate logo"></a><br><br>
        <table id="question_table">
            <tr>
                <th><b>Tag name</b></th>
                <th><b>Tags amount</b></th>
            </tr>
            {% for tag in tags_list %}
            <tr>
                <td>{{tag.name}}</td>
                <td>{{tag.occurrence_numbers}}</td>
            </tr>
            {% endfor %}
        </table><br>
        <div>
            <form action="/">
                <button type="submit">Back to main page</button>
            </form>
        </div>
        <footer>
            <br>
            <p>© 2022 Marcin, Marcin & Tomek</p>
        </footer>
    </body>
</html>